<h1 class="display-4"> Sign In</h1>
<form>
    <label>UserName</label>
    <input type="text" name="username" placeholder="Your UserName" class="form-control">

    <label>Email</label>
    <input type="email" name="email" placeholder="Your Email" class="form-control">

    <label>Password</label>
    <input type="password" name="password" placeholder="Your Password" class="form-control">

    <button class="btn btn-lg btn-block btn-info" type="button" routerLink="/creat">Sign In</button>
</form>

